<template>
    <div id="dashboard-page">
        <div class="container">
            <div class="row">
                <div class="twelve columns">
                    Your Dashboard: {{$root.$data.state.auth.userDetails.username}}
                </div>
                <div class="twelve columns">
                    <button v-on:click="getProtected">GET PROTECTED RESOURCE</button>
                </div>
                <div>
                    <button v-on:click="resetItems">Reset items RESOURCE</button>
                </div>
                <div>
                    <button v-on:click="getItems">get all items</button>
                </div>
                <div>
                    <button v-on:click="insertItem">InsertItem</button>
                </div>
                <div>
                    <div>{{resource}}</div>
                    <div v-for="item in items">{{item}}
                        <button v-on:click="deleteItem(item.id)">Delete</button>
                        <button>Details</button>
                    </div>
                </div>
                <div>
                    <load-indicator v-show="loading"></load-indicator>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import LoadingIndicator from "../components/LoadingIndicator.vue";

    export default {
        name: 'home-page',
        data() {
            return {
                resource: '',
                items: [],
                loading: false
            }
        },
        components: {
            'load-indicator': LoadingIndicator
        },
        methods: {
            getProtected: function () {
                this.loading = true;
                this.axios.get('/protected').then((response) => {
                    this.loading = false;
                    this.resource = response.data;
                }).catch(() => {
                    this.loading = false;
                    this.resource = '-';
                });
            },
            getItems: function () {
                this.loading = true;
                this.axios.get('/dashboard/items').then((response) => {
                    this.loading = false;
                    this.items = response.data;
                }).catch(() => {
                    this.loading = false;
                    this.items = [];
                });
            },
            insertItem: function () {
                this.loading = true;
                this.axios.post('/dashboard/items', {
                    firstName: 'firstName',
                    lastName: 'lastName',
                    profession: 'someProfession',
                    salary: 123456
                }).then((response) => {
                    console.log(response.data);
                    this.items.push(response.data);
                    this.loading = false;
                }).catch(() => {
                    this.loading = false;
                });
            },
            resetItems: function () {
                this.loading = true;
                this.axios.get('/dashboard/reset').then((response) => {
                    this.loading = false;
                    this.items = [];
                }).catch(() => {
                    this.loading = false;
                    this.items = [];
                });
            },
            deleteItem: function (id) {
                this.loading = true;
                this.axios.delete('/dashboard/items/' + id).then((response) => {
                    this.items = this.items.filter(item => item.id != id);
                    this.loading = false;
                }).catch(() => {
                    this.loading = false;
                });
            }
        }
    }
</script>

<style lang="scss" scoped>
</style>
