<template>
    <div id="home-page">
        <div class="container">
            <div class="row">
                <div class="twelve columns">
                    Error!!!
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'error-page'
    }
</script>

<style lang="scss" scoped>
</style>
