<template>
    <div id="home-page">
        <div class="container">
            <div class="row">
                <div class="twelve columns">
                    Hello !!!
                </div>
                <div class="twelve columns">
                    <button v-on:click="getProtected">GET PROTECTED RESOURCE</button>
                    &nbsp
                    <button v-on:click="getResource">GET RESOURCE</button>
                </div>
                <div>
                    <div v-show="!loading">{{resource}}</div>
                    <load-indicator v-show="loading"></load-indicator>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import LoadingIndicator from "../components/LoadingIndicator.vue";

    export default {
        name: 'home-page',
        data() {
            return {
                resource: '-',
                loading: false
            }
        },
        components: {
            'load-indicator': LoadingIndicator
        },
        methods: {
            getProtected: function () {
                this.loading = true;
                this.axios.get('/protected').then((response) => {
                    this.loading = false;
                    this.resource = response.data;
                }).catch(() => {
                    console.log("Handle resource error...");
                    this.loading = false;
                    this.resource = '-';
                });
            },
            getResource: function () {
                this.loading = true;
                this.axios.get('/rest').then((response) => {
                    this.loading = false;
                    this.resource = response.data;
                }).catch(() => {
                    this.loading = false;
                    this.resource = '-';
                });
            }
        }
    }
</script>

<style lang="scss" scoped>
</style>
