<template>
    <div>
        <app-header></app-header>
        <router-view></router-view>
    </div>
</template>

<script>
    import Header from "./components/Header.vue";
    import LoginPage from "./login/LoginPage.vue";

    export default {
        name: 'app',
        beforeCreate: function () {
        },
        methods: {},
        components: {
            LoginPage,
            'app-header': Header,
            'login-page': LoginPage
        }
    }
</script>

<style lang="scss">
    @import 'static/css/main';
    #app {

    }
</style>
