html {
  height: 100%;
  body {
    display: flex;
    flex-direction: column;
    min-height: 100%;

    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;

    h1, h2, h3, h4 {
      font-weight: normal;
    }

    a {
      color: darkgrey;
    }
  }
}