<template>
    <nav>
        <ul>
            <li>
                <router-link to="/" exact>Home</router-link>
            </li>
            <li>
                <router-link to="/about" exact>About Us</router-link>
            </li>
            <span v-if="$root.$data.state.auth.loggedIn">
                <li>
                    <router-link to="/dashboard" exact>Dashboard</router-link>
                </li>
                <li>
                    <a href="#" v-on:click="logout">Logout > {{$root.$data.state.auth.userDetails.username}}</a>
                </li>
            </span>
            <span v-else>
                <li>
                    <router-link to="/login" exact>Login</router-link>
                 </li>
                <li>
                    <router-link to="/register" exact>Register</router-link>
                </li>
            </span>
        </ul>
    </nav>
</template>
<script>
    function uiLogout(context) {
        context.$root.$data.clearAuthentication();
        context.$router.push({
            path: `/login`
        });
    }

    export default {
        methods: {
            logout: function () {
                this.axios({
                    method: 'post',
                    url: 'user/logout'
                }).then(() => {
                    uiLogout(this);
                }).catch(() => {
                    uiLogout(this);
                });
            }
        }
    }
</script>

<style lang="scss" scoped>
    nav {
        background: #444;
        padding: 14px 0;
        margin-bottom: 40px;
        ul {
            list-style-type: none;
            text-align: center;
            margin: 0;
            li {
                display: inline-block;
                margin: 0 10px;
                a {
                    color: #fff;
                    text-decoration: none;
                    padding: 6px 8px;
                    border-radius: 10px;
                }
                .router-link-active {
                    background: #eee;
                    color: #444;
                }
            }
        }
    }
</style>