<template>
    <div id="forgot-password-page">
        <div class="container">
            <div class="row">
                <div class="twelve columns">
                    <h4>Forgot Password?</h4>
                    <h4>Provide your email, where reset link will be sent.</h4>
                    <div class="six columns align-center">
                        <label for="email">Email</label>
                        <input v-model="userEmail" class="u-full-width" id="email"/>
                        <input class="u-full-width button-primary" type="submit" v-on:click="reset" value="Send reset email"/>
                        <div>
                            <router-link to="/login" exact>Cancel</router-link>
                        </div>
                        <load-indicator v-show="loading"></load-indicator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import LoadingIndicator from "../components/LoadingIndicator.vue";

    export default {
        name: 'forgot-password-page',
        data() {
            return {
                userEmail: '',
                loading: false
            }
        },
        components: {
            'load-indicator': LoadingIndicator
        },
        methods: {
            reset: function () {
                this.loading = true;
                this.axios.post('/user/forgot', {email: this.userEmail}).catch(function (error) {
                }).then(() => {
                    this.loading = false;
                    this.$router.push({path: '/forgot/sent'});
                });
            }
        }
    }
</script>
<style lang="scss" scoped>
    #forgot-password-page {

    }
</style>
