<template>
    <div id="login-page">
        <div class="container">
            <div class="row">
                <div class="twelve columns">
                    <h4 id="loginHeader">Login</h4>
                    <div class="six columns align-center">
                        <label for="username">Username</label>
                        <input v-model="username" @keyup.enter="login" class="u-full-width" placeholder="yourUsername" id="username"/>
                    </div>
                    <div>
                        <label for="password">Password</label>
                        <input v-model="password" @keyup.enter="login" class="u-full-width" type="password" id="password"/>
                    </div>
                    <div>
                        <input class="u-full-width button-primary" type="submit" v-on:click="login" @keyup.enter="login" value="Submit"/>
                    </div>
                    <div>
                        <router-link to="/forgot" exact>Forgot password?</router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'login-page',
        data() {
            return {
                username: 'user@gmail.com',
                password: 'password'
            }
        },
        methods: {
            login: function () {
                let params = new URLSearchParams();
                params.append('grant_type', 'password');
                params.append('username', this.username);
                params.append('password', this.password);

                this.axios({
                    method: 'post',
                    url: 'oauth/token',
                    auth: {username: 'my-trusted-client', password: 'secret'},
                    headers: {"Content-type": "application/x-www-form-urlencoded; charset=utf-8"},
                    data: params
                }).then((response) => {
                    console.log(response.data);
                    this.$root.$data.setAuthentication(response.data.access_token, response.data.refresh_token);
                    this.$router.push({path: '/'});
                });
            }
        }
    }
</script>

<style lang="scss" scoped>
    #login-page {

    }
</style>
