<template>
    <div id="reset-password-page">
        <div class="container">
            <div class="row">
                <div class="twelve columns">
                    <h4 id="loginHeader">Login</h4>
                    <div class="six columns align-center">
                        <label for="username">Username</label>
                        <input v-model="username" class="u-full-width" placeholder="yourUsername" id="username"/>
                    </div>
                    <div>
                        <label for="password">Password</label>
                        <input v-model="password" class="u-full-width" type="password" id="password"/>
                    </div>
                    <div>
                        <label for="password">Confirm Password</label>
                        <input v-model="passwordConfirmation" class="u-full-width" type="password" id="passwordConfirmation"/>
                    </div>
                    <div>
                        <input class="u-full-width button-primary" type="submit" v-on:click="register" value="Register"/>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'reset-password-page',
        data() {
            return {
                username: '',
                password: '',
                passwordConfirmation: ''
            }
        },
        methods: {
            register: function () {
                this.axios.post('/user/register/', {
                    username: this.username,
                    password: this.password,
                    passwordConfirmation: this.passwordConfirmation
                }).then(success => {
                    this.$router.push({path: '/login'});
                }).catch(error => {
                    this.$router.push({path: '/errorPage'});
                });
            }
        }
    }
</script>
<style lang="scss" scoped>
    #reset-password-page {

    }
</style>
