<template>
    <div id="reset-password-error">
        <div class="container">
            <div class="row">
                <div class="twelve columns">
                    <h4>Could not reset password</h4>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'reset-password-error',
    }
</script>
<style lang="scss" scoped>
    #reset-password-error {

    }
</style>
