<template>
    <div id="reset-password-page">
        <div class="container">
            <div class="row">
                <div class="twelve columns">
                    <h4>Reset Password Sent</h4>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'reset-password-page',
        data() {
            return {
                userEmail: ''
            }
        },
        methods: {
            reset: function () {
                this.axios.post('/user/forgot', {email: this.userEmail}).then(function (response) {
                    console.log(response);
                }).catch(function (error) {
                    console.log(error);
                }).then(() => {
                    this.$router.push({path: '/forgot/sent'});
                });
            }
        }
    }
</script>
<style lang="scss" scoped>
    #reset-password-page {

    }
</style>
