<template>
    <div id="reset-password-page">
        <div class="container">
            <div class="row">
                <div class="twelve columns">
                    <h4 id="loginHeader">Login</h4>
                    <div class="six columns align-center">
                        <label for="password">Password</label>
                        <input v-model="password" class="u-full-width" type="password" id="password"/>
                    </div>
                    <div>
                        <label for="password">Confirm Password</label>
                        <input v-model="passwordConfirmation" class="u-full-width" type="password" id="passwordConfirmation"/>
                    </div>
                    <div>
                        <input class="u-full-width button-primary" type="submit" v-on:click="reset" value="Reset Password"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'reset-password-page',
        data() {
            return {
                password: '',
                passwordConfirmation: '',
                token: this.$route.params.token
            }
        },
        methods: {
            reset: function () {
                this.axios.post('/user/reset/' + this.token, {
                    password: this.password,
                    passwordConfirmation: this.passwordConfirmation
                }).then(success => {
                    this.$router.push({path: '/forgot/success'});
                }).catch(error => {
                    this.$router.push({path: '/error/reset'});
                });
            }
        }
    }
</script>
<style lang="scss" scoped>
    #reset-password-page {

    }
</style>
